
* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.page-title {
  align-self: flex-end;
}
.nav-item {
  border-radius: 10px;
  border: none;
  margin: 0;
  
  padding: 8px 8px 8px 8px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3b5998;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Media query for screens wider than 1200px */
@media screen and (min-width: 1200px) {
  .container {
    justify-content: space-around; /* Adjust as needed */
  }
}

/* buttons */
button:focus,
button:hover {
  background-color: #ffffff;
  color: #ff4b2b;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}
.card__details {
  padding: 16px 8px 8px 8px;
}

.card {
  flex: 0 0 auto;
  background-color: #ffffff;
  border: none;
  transition: 0.3s;
  max-width: 300px;
  padding: 8px;
  border-radius: 12px;
  margin-right: 20px; /* Adjust spacing between cards */
  width: 300px; /* Set a fixed width for each card */
}

.tag {
  position: relative;
  /* bottom: 10px; */
  /* right: 10px; */
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  /* margin-bottom: 20px; */
  margin: auto;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}
.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}
 
