<h1 class="pageTitle">Event Details</h1>
<div class="card">
    <label for="heart-checkbox" class="heart-label"></label>
    <input type="checkbox" id="heart-checkbox" name="heart=checkbox">
    
    <div class="image-container">
            <img src="{{ event.eventImage }}" />
        <i class="fas fa-heart"></i>
    </div>
    <div class="card_details">
      <div class="name">{{ event.eventName }}</div>
      <!-- <div>{{ e.eventDate | date }}</div> -->
      <div>{{ event.eventTime | date }}</div>
      <div>{{ event.eventTime | date: 'shortTime' }}</div>
      <div>{{ event.eventLocation }}  </div>
      <div>{{event.eventVenue}}</div>
      {{event.eventDescription}}
      <div style="font-weight: 800;   color: rgb(255, 0, 115);">{{event.price |currency}}</div>
​
      <!-- <button  *ngIf="!voted" (click)="upVotePost()" >Upvote!</button>
            <button  *ngIf="voted"(click)="removeVote()">Remove vote</button> -->
        <span class="tag">{{ event.eventCategory }}  </span>
​
    </div>